/* Sprite Image */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd > div.FFpbKc > div.nidPne{
    filter : var(--color-filter)!important;
}

#ow89 > div > span > div > div > span > div > a.ita-kd-selected span{
    opacity: 1!important;
}

body{
    background : var(--bg-color)!important;
}

/* Header */
#gb {
    background-color : var(--bg-color)!important;
}

/* Box shadow below heaer Bottom */
.ccvoYb{
    box-shadow : none !important;
    border-top-color : var(--bg-color)!important;
}

/* Menu Icon*/
#gbwa > div > a > svg {
     color : var(--text-color)!important;
}

/* Before */
#yDmH0d > c-wiz::before{
    background-color : var(--bg-color)!important;
}


/* "Translate" Word On Top Left */
#sdgBod > span.gb_Zd.gb_Vc, 
#gb > div.gb_1d > div > div.gb_Mc > div > div > a > span.gb_Zd.gb_Vc{
     color : var(--text-color)!important;
}

/* Three lines On Top Left */
#gb > div.gb_Fd.gb_Wd.gb_Md.gb_Ld > div.gb_Ed.gb_Wc.gb_Xc > div:nth-child(1) > svg{
     color : var(--text-color)!important;
}


/* Sign In Button*/

#gb > div.gb_Ed.gb_Vd.gb_Ld.gb_Kd > div.gb_Pd.gb_Ra.gb_Dd > div > a {
    background-color : var(--main-color)!important; 
    color :  var(--bg-color)!important;
}

/*Google Menu Section*/
#yDmH0d > c-wiz > div > div > c-wiz > div > div > ul *, 
#gb > div.gb_Fd.gb_Wd.gb_Md.gb_Ld > div.gb_Qd.gb_Sa.gb_Ed > div:nth-child(2),
#yDmH0d > c-wiz > div > div > c-wiz > div > div{
    background-color : var(--bg-color)!important;
    color : var(--text-color)!important;
}

#yDmH0d > c-wiz > div > div > c-wiz > div > div > div.WwFbJd a {
    background-color : var(--main-color)!important;
    color :  var(--bg-color)!important;
}

#yDmH0d > c-wiz > div > div > c-wiz > div > div > span{
    display : none;
}

/* Sidebar */
#gb > div.gb_1d > div {
    background-color : var(--bg-color)!important;
    color : var(--text-color)!important;
}


/* Parent  */
#yDmH0d > c-wiz {
    background-color : var(--bg-color)!important;
}

/* Bottom Navigation */

/* Circle */
#yDmH0d > c-wiz  nav > a  div.ySES5{
    background: rgba(0,0,0,.1) !important;
} 

/* Middle Logo SVG */
#yDmH0d > c-wiz  nav > a  div.ySES5 svg {
    color : var(--text-color) !important;
} 

/* Text Below Circle */
#yDmH0d > c-wiz  div.TcXXXb{
    color : var(--text-color)!important;
}


/* 
    Translation Type (Text/Document)
*/
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.hgbeOc {
    background-color : var(--bg-color)!important;
}

/* Button On Translation Type */
 .hgbeOc > nav > div button {
    background-color : var(--main-color)!important; 
    border : none;
}

.hgbeOc > nav > div button .VfPpkd-vQzf8d, 
.hgbeOc > nav > div button i.material-icons-extended.VfPpkd-kBDsod.ep0rzf{
    color :  var(--bg-color)!important;    
}


/* 
    Translate Section
*/

/* Header */
.zXU7Rb > c-wiz {
    background : var(--bg-color)!important; 
}

/* Remove Header bg animation */
.hgbeOc{
    transition: none!important;
}

/* Tab Buttons Left */
.zXU7Rb > c-wiz > div:nth-child(2) > div > div.VfPpkd-AznF2e-ZMv3u > div > div > span > button > span > span {
    color : var(--sub-color)!important;
} 

/* Tab Button Active/Selected */
.zXU7Rb > c-wiz > div:nth-child(2) > div > div.VfPpkd-AznF2e-ZMv3u > div > div > span > button[aria-selected="true"] > span > span {
    color : var(--text-color)!important;
}

/* Tab Buttons Right */
.zXU7Rb > c-wiz > div:nth-child(5) > div > div.VfPpkd-AznF2e-ZMv3u > div > div > span button > span > span {
    color : var(--sub-color)!important;
}

/* Tab Button Active/Selected */
.zXU7Rb > c-wiz > div:nth-child(5) > div > div.VfPpkd-AznF2e-ZMv3u > div > div > span > button[aria-selected="true"] > span > span {
    color : var(--text-color)!important;
}

/* Mobile Tab Header */
.zXU7Rb > c-wiz > .ooArgc {
    color : var(--text-color)!important;
}

/* Tab border bottom */
span[jsname="bN97Pc"]{
    border-color:var(--main-color)!important;
}

/* Border Above Header */
.k5v5Nb{
    border:none!important;
}

/* Border Below Header */
.zXU7Rb{
    border:none!important;
}

/* Header Icons */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.aCQag > c-wiz > div.zXU7Rb > c-wiz svg{
    color :var(--main-color)!important;
}

/* Swap Icon */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.aCQag > c-wiz > div.zXU7Rb > c-wiz i{
    color :var(--main-color)!important;
}

/* Gradient */
.akczyd > .X4DQ0::after {
    background: linear-gradient(to right,rgba(15, 15, 15, 0),rgba(43, 43, 43, .08))!important;
}

/* Round Border */
@media screen and (min-width: 1280px){
    .zXU7Rb {
        border-top-left-radius: 0 !important; 
        border-top-right-radius: 0 !important;
    }
}

@media screen and (min-width: 1280px){
    .bvzp8c {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

/* Document mode */
/* Document area*/
.JqKQbd {
    background : var(--bg-color)!important; 
}

/* Document area Message */
.TEGJAb {
    color :var(--main-color)!important;
}

/* Document button */
.y9jKHb{
    background-color : var(--main-color)!important; 
    color :  var(--bg-color)!important;
}

/* Choose Document Message */
.AarNVd{
    color :  var(--main-color)!important;
}

/* Loading */
.OucA2b, .AxqVh{
    background-color : var(--bg-color)!important; 
}

/* Getting translation */
.hbjvwb {
    color :  var(--text-color)!important;
}


/* Translation */
/* Origin */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd {
    background : var(--bg-color)!important; 
    color : var(--text-color)!important;
}

/* Origin Icon */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd i,
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd svg
{
    color : var(--sub-color)!important;
} 


/* Target */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb {
    background : var(--bg-color)!important; 
    color : var(--text-color)!important;
}

/* Target Icon */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb i, 
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb, svg {
    color : var(--sub-color)!important;
}

/* Target Word Hover */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb > div.dePhmb > div > div.J0lOec > span.VIiyi > span:hover{
    background : var(--main-color)!important; 
    color : var(--bg-color)!important;
}

/* Origin on result hover */
.cEWAef * {
    background : none !important;
}



/* Translation Reccomendation */ 
#kvLWu {
    border-top : 0 !important;
}

#kvLWu > li{
    background : var(--bg-color)!important; 
}

#kvLWu > li > div.uNr6ee{
    color : var(--text-color)!important;    
    font-weight: 500;   
} 

#kvLWu > li > div.xUPQqb{
    color : var(--sub-color)!important;     
    font-weight: 500;   
    opacity: 0.7;
}

/* Translation Reccomendation Selected */
#kvLWu > li[aria-selected="true"]{
    background : var(--main-color)!important; 
}

#kvLWu > li[aria-selected="true"] > div.uNr6ee{
    color : var(--bg-color)!important; 
} 

#kvLWu > li[aria-selected="true"] > div.xUPQqb{
    color : var(--bg-color)!important;
}


/* Translation Placeholder */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m > div.tm8pq {
    color : var(--sub-color)!important;    
}



/* Target Inactive */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m{
    background : var(--bg-color)!important; 
    color : var(--text-color)!important;
}

/* Text Area */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd.dHeVVb > span > span > div > textarea {
    color : var(--text-color)!important;
}

/* Result */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb > div.dePhmb > div > div.J0lOec {
    color : var(--text-color)!important;
}


/* Message On the bottom translation */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd.dHeVVb > div:nth-child(5) > div > div > div{
   color : var(--sub-color)!important; 
} 

/* Pronounciation */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd.dHeVVb > div.UdTY9.BwTYAc > div.kO6q6e {
    color : var(--sub-color)!important;
}

/* "Gender Spesific" message */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb.FkMbO > div.HVGOKe {
   color : var(--sub-color)!important; 
}

/* Learn More Link */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb.FkMbO > div.HVGOKe a {
   color : var(--main-color)!important; 
}

/* Restore Original */
.kihvAe {
   color : var(--main-color)!important; 
    
}

/* Edited */
.yieiFb {
   color : var(--sub-color)!important; 
}

/* Gender */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.P6w8m.BDJ8fb.FkMbO > div.dePhmb > div > div.J0lOec > div {
   color : var(--sub-color)!important; 
}

/* Message icon */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd.dHeVVb > div:nth-child(5) > div i {
    color : var(--main-color)!important;  
} 

/* Language Name on message */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd.dHeVVb > div:nth-child(5) > div > div > div > span {
    color : var(--main-color)!important;  
}

/* Total Chars */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.AxqVh > div.OPPzxe > c-wiz.rm1UF.UnxENd > div.FFpbKc > span {
    color : var(--main-color)!important;  
}

/* Microphone Icon */
#ow85 > div > span > button > span:nth-child(3), #ow3388 > div > span > button > span:nth-child(3)  {
    color : var(--sub-color)!important;  
}

/* Microphone Icon On Reading*/
#ow85 > div > span > button > span.material-icons-extended.VfPpkd-Bz112c-kBDsod-OWXEXe-IT5dJd.VfPpkd-Bz112c-kBDsod {
    color : var(--main-color)!important;  
}

/* Input Tool Logo */
#ow89 > div > span > div .ita-kd-inputtools-div a {
    color : var(--sub-color)!important;  
}


/* Details */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.kGmWO > c-wiz > section > div > div > div.Sp3AF > div > div,
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.kGmWO > c-wiz > section > div > div > div.GQpbTd > div div
{
    background : var(--bg-color)!important;  
    border : none;
}


/* Details Header */
.nYkDR {
    color : var(--sub-color)!important;  
} 

/* Word In Header */
.S6GkK {
    color : var(--main-color)!important;  
}

/* Section Number */
.RSggmb{
    color : var(--text-color)!important;
    border-color :  var(--text-color)!important;
}

/* Sub header */
.eIKIse{
    color : var(--main-color)!important;  
}

/* Word definition */
.fw3eif{
    color : var(--text-color)!important;  
}

/* examples with quotes */
.MZgjEb {
    color : var(--sub-color)!important;  
}


/* Synonym title */
.gHl6Mc.OvhKBb{
    color : var(--main-color)!important;  
}

/* Word definitions list / buttons */
span.PsfnLc{
    color : var(--sub-color)!important;  
    border-color : var(--sub-color)!important;  
}

/* Tab button */
div.PG9puc{
    background-color : var(--main-color)!important; 
    color :  var(--bg-color)!important;
}

/* Fewer Definition Message */
.qTO0c {
    color : var(--main-color)!important;  
}

/* Arrow button beside fewer definition message */
.qTO0c i {
    color : var(--sub-color)!important;  
}

/* Sentences example */
.AZPoqf.OvhKBb{
    color : var(--text-color)!important;  
}

/* Informal Definition */
.BL1djf.TA6GGb.OvhKBb{
    color : var(--text-color)!important;  
}

/* Quote symbold */
.Qk6AXd i {
    color : var(--sub-color)!important;  
}

/* "Translation of" list */
.kgnlhe {
    color : var(--main-color)!important;  
}

.kgnlhe.FwR7Pc {
    color : var(--bg-color)!important;   
    background-color : var(--main-color)!important; 
}

/* "Translation of" children */
.MtFg0{
    color : var(--text-color)!important;  
}

/* Selected "Translation of" children */
.MtFg0.FwR7Pc{
    background-color : var(--main-color)!important; 
    color :  var(--bg-color)!important;
}

/* Gender */
.j7bWb {
    color : var(--text-color)!important;  
}

/* See Also Message */
.nYkDR {
    color : var(--main-color)!important;  
}

/* Related List */
.jodjCb {
    color : var(--text-color)!important;  
    border-color : var(--text-color)!important; 
}

/* Send Feedback Text */
.a88hkc, .FvchS, .material-icons-extended.VfPpkd-kBDsod.p4g8M {
    color : var(--text-color)!important;  
}

/* Show examples message */
.VK4HE {
    color : var(--main-color)!important;  
}

/* Show examples border */
.ZShpvc{
    border-color :  var(--main-color)!important;  
}


/* 
    Language List
*/

/* Language List Header */
.fMHXgc.qkH7ie{
    background-color : var(--bg-color)!important; 
}

input.yFQBKb {
    background-color : var(--bg-color)!important; 
    color : var(--text-color)!important;  
}

input.yFQBKb::-webkit-input-placeholder { /* Edge */
  color: var(--sub-color)!important;  
}

input.yFQBKb:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--sub-color)!important;  
}

input.yFQBKb::placeholder {
  color: var(--sub-color)!important;  
}

/* "Translate from" header */
.fMHXgc.G13P7e{
    background-color : var(--bg-color)!important; 
    color: var(--sub-color)!important;  
}

/* "Translate from" header icon */
.fMHXgc.G13P7e i{
    color: var(--sub-color)!important;  
}


/* Body */
.dykxn.C96yib.j33Gae, .vSUSRc {
    background-color : var(--bg-color)!important;  
}

/* detect language */
.qSb8Pe.KKjvXb{
    background-color : var(--main-color)!important;  
}

.qSb8Pe.KKjvXb .Llmcnf,
.qSb8Pe.KKjvXb:hover .Llmcnf,
.qSb8Pe.KKjvXb:focus .Llmcnf{
    color : var(--bg-color)!important;  
}


/* languge name */
.Llmcnf{
    color : var(--text-color)!important;  
}

.qSb8Pe.RCaXn.KKjvXb:hover .Llmcnf,
.qSb8Pe.RCaXn.KKjvXb:focus .Llmcnf{
    color: var(--text-color)!important;
}

/* icon */
.qSb8Pe .material-icons-extended.VfPpkd-kBDsod  {
    color : var(--sub-color)!important;  
}

.qSb8Pe:hover .material-icons-extended.VfPpkd-kBDsod  {
    color : var(--bg-color)!important;  
}

/* Hover */
.qSb8Pe:hover {
    background-color : var(--main-color)!important;  
}

/* selected language */
.qSb8Pe.RCaXn.KKjvXb {
    background-color : var(--main-color)!important;  
}

.qSb8Pe.RCaXn.KKjvXb .Llmcnf {
    color : var(--bg-color)!important;  
}

/* When selected using tab */
.qSb8Pe:focus {
    background-color : var(--main-color)!important;  
}

.qSb8Pe:focus .Llmcnf,
.qSb8Pe:hover .Llmcnf {
    color : var(--bg-color)!important;  
}

@media screen and (min-width: 720px){
    .qSb8Pe:focus {
        border: none;
    }
}

/* Saved words */
ol.WMHbxd , c-wiz.uojYg.Jf2lJc.i6oIBe.fTtg4e , .uojYg {
    background-color : var(--bg-color)!important;  
}

/* Header */
.B3AePc{
    background-color : var(--bg-color)!important;  
}

/* Header Title */
.AP34ab{
    color : var(--text-color)!important;  
}

/* Header Search Input*/
input.vxsGZ{
    color : var(--text-color)!important;  
}

input.vxsGZ::placeholder {
    color : var(--sub-color)!important;  
}

/* Search Field Title */
.eHilac{
    color :  var(--sub-color)!important; 
}

/* Sort Text */
.zRANPd:not(:disabled){
    color : var(--sub-color)!important;  
}

/* Sort Menu */
ul.VfPpkd-StrnGf-rymPhb.DMZ54e{
    background-color : var(--bg-color)!important;  
    color : var(--text-color)!important;  
}

ul.VfPpkd-StrnGf-rymPhb.DMZ54e li:hover{
    background-color : var(--main-color)!important;  
    color : var(--bg-color)!important;  
}

/* Total / Pagination */
/* Wrapper */
.j27i7{
    background-color : var(--bg-color)!important;   
    color : var(--main-color)!important;  
}

/* Text */
#yDmH0d > c-wiz > div > div > c-wiz > div > div > span.pt8wXd{
    color : var(--main-color)!important;  
    display:block!important;
}

/* Check mark */
ul.VfPpkd-StrnGf-rymPhb.DMZ54e i{
    color : var(--sub-color)!important;  
}

/* Clear all saved */
li.VfPpkd-StrnGf-rymPhb-ibnC6b{
    color : var(--main-color)!important;  
}

li.VfPpkd-StrnGf-rymPhb-ibnC6b:hover{
    color : var(--bg-color)!important;  
}


/* Word List */
.tvua2{
    background-color : var(--bg-color)!important;  
    border-color : var(--bg-color)!important;  
}


/*  Target and Origin Language */
.v2OCrb.NbyP5.Xn3qxe{
    border-color : var(--sub-color)!important;       
    color : var(--sub-color)!important;  
}

/* Star symbol */
.VfPpkd-Bz112c-LgbsSe-OWXEXe-IT5dJd .VfPpkd-Bz112c-kBDsod.VfPpkd-Bz112c-kBDsod-OWXEXe-IT5dJd {
    color : var(--main-color)!important; 
}

/* Origin Word */
.kgJkHd.OvhKBb{
    color : var(--main-color)!important; 
}

/* Definition */
.HYAIUe.OvhKBb{
    color : var(--sub-color)!important; 
}

/* Not Found Message Button */
.VfPpkd-vQzf8d{
    color : var(--sub-color)!important; 
}

.VfPpkd-dgl2Hf-ppHlrf-sM5MNb .VfPpkd-Jh9lGc{
    border-color : var(--sub-color)!important; 
} 


/* History */
.GKdr2{
    background-color : var(--bg-color)!important;  
}

/* Header */
.XMNbjd{
    color : var(--main-color)!important; 
}

/* No History */

.trWsae, .nIvUSc{
    color : var(--sub-color)!important; 
} 

.nIvUSc a {
    color : var(--main-color)!important; 
}

/* Manage Activity link */
a.SdtK5b{
    color : var(--main-color)!important; 
}


/* List */
.vvNkBd{
    background-color : var(--bg-color)!important;  
    border-color : var(--bg-color)!important;  
}

/* Origin */
.EYBmYc{
    color : var(--main-color)!important; 
}

.v9p7kc{
    color : var(--sub-color)!important; 
}

/* meaning */
.uqiNJb{
    color : var(--sub-color)!important;    
}

/* Microphone Logo */
.material-icons-extended.VfPpkd-Bz112c-kBDsod{
    color : var(--sub-color)!important;    
}

/* Google Sheet Logo */
.material-icons-extended.VfPpkd-kBDsod{
    color : var(--sub-color)!important;
}

/* Selected Word Details */
.zWtKC, .a2Icud{
    background: var(--bg-color)!important; 
}

.jTj8gd.XzOhkf, .Dwvecf, .zWtKC, .Sp3AF{
    border: none !important;
}

.GQpbTd{
    padding : 0 !important;
}

/* Selected Word origin */
.aia4Ud span {
    color : var(--text-color)!important;
}

/* Selected word definition */
.D4w5q{
    color : var(--sub-color)!important;
}

/* Loader */
.xu46lf > div{
    border-color: var(--main-color)!important; 
}

/* Caret Color */
textarea, .fMHXgc.qkH7ie > input{
    caret-color : var(--main-color)!important;
}

/* Google Translate Logo Text */
#gb > div.gb_Ed.gb_Vd.gb_Ld.gb_Kd > div.gb_Dd.gb_Vc.gb_Wc > div.gb_mc div a span{
    color : var(--main-color)!important;
} 

#gb > div.gb_Ed.gb_Vd.gb_Ld.gb_Kd > div.gb_Dd.gb_Vc.gb_Wc > div.gb_mc div a span:nth-child(1){
    filter :var(--color-filter);
}

/*Google Translate Logo Image SVG */
#gb > div.gb_Ed.gb_Vd.gb_Ld.gb_Kd > div.gb_Dd.gb_Vc.gb_Wc > div.gb_mc div a span:nth-child(1)::before{
    content: url("https://res.cloudinary.com/dnvq18xxf/image/upload/v1642923506/google-logo_r22ktk.svg");
}

/* Document */
/* Background */
.RiZzuc{
    background : var(--bg-color)!important;
}

/* Document Info Area */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div:nth-child(1) > form > div.RiZzuc > div.sUGHdf{
    background : var(--main-color)!important;
}


/* Document Logo */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div:nth-child(1) > form > div.RiZzuc > div.sUGHdf > div.cDGEmc > i,
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div:nth-child(1) > form > div.RiZzuc > div.sUGHdf > div.Pjatl > div > span > button > i{
    color:var(--bg-color) !important;
}

/* Document Title */
.MXuJQd, .d3Mtee{
    color:var(--bg-color) !important;
}

/* Document size */
.d3Mtee{
    opacity : 0.7;
}

/* Button */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div > form > div.RiZzuc > div.ld4Jde > div > button > div.VfPpkd-Jh9lGc{
    background:var(--main-color) !important;
}

/* Button Text */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div > form > div.RiZzuc > div.ld4Jde > div > button > span{
    color:var(--bg-color) !important;
}

/* Document when loading */
.krCv8c{
    background:var(--bg-color) !important;
    color:var(--text-color) !important;
}

.krCv8c .IoZsuc{
    color:var(--text-color) !important;
}

/* Powered By Cloud */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div.sp2Bqb {
    background:var(--bg-color) !important;
}

#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div.sp2Bqb > span{
    color:var(--text-color) !important;
}

#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.R5HjH > c-wiz > div.oLbzv > c-wiz > div > div.sp2Bqb > span > span > a{
    color:var(--main-color) !important;
}

/* No language found */
#yDmH0d > c-wiz > div > div.WFnNle > c-wiz > div.OlSOob > c-wiz > div.ccvoYb > div.aCQag > c-wiz > div:nth-child(2) > c-wiz > div.OoYv6d > div > div.dykxn.C96yib.j33Gae > div > div{
    color:var(--main-color) !important;
}